$gradient: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$boxShadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
$principal: #FFF4FD;
$secundary:#4180F6;
$buttonColor: #F7C9F3;
$buttonColorActive: #E6BBE2;
$opposite:#110038;

@import "style.scss"
